@import url('/css/fonts.css');

/* ----- tag selectors ----- */

body {
    margin: 0;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #212121;
}

/* ----- tag selectors ----- */


/* ----- common styles ----- */

.container {
    max-width: 1170px;
    margin: auto;
}

.side-padding {
    padding: 0 40px;
}

/* ----- common styles ----- */


/* ----- header styles ----- */

.logo {
    max-width: 124px;
    margin-right: 15px;
}

.header-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    flex-basis: 55%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

/* ----- header styles ----- */


/* ----- title styles ----- */

.title-section {
    background-color: #000000;
    background-image: url('/img/title-section-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.title-content {
    padding: 180px 0 70px 0;
}

.title-content__title {
    font-family: 'OpenSans-SemiBold';
    font-size: 60px;
}

.title-content__slogan {
    margin: 25px 0 100px 0;
    font-size: 22px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px;
    padding: 15px 0;
    min-width: 220px;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.fa-angle-down {
    margin-top: 100px;
    font-size: 25px;
    color: #ffffff;
}

/* ----- title styles ----- */
