@import url("../css/fonts.css");

/* ----- tag selectors ----- */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #212121;
}

/* ----- tag selectors ----- */


/* ----- common styles ----- */

.container {
    max-width: 1170px;
    margin: auto;
}

.side-padding {
    padding: 0 40px;
}

.heading {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: 'OpenSans-Bold';
    font-size: 30px;
}

.desc {
    max-width: 620px;
    margin: 0 auto;
}

.subtitle {
    font-family: 'OpenSans-SemiBold';
    font-size: 20px;
}

.btn {
    margin: 10px;
    padding: 15px 0;
    min-width: 220px;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: 500ms;
}

.btn:hover {
    background-color: #00897b;
    border: 2px solid #00897b;
}

@media (min-width: 576px) and (max-width: 767px)  {
    .side-padding {
        padding: 0 20px;
    }
}

@media (max-width: 575px) {
    .side-padding {
        padding: 10px;
    }
}


/* ----- common styles ----- */


/* ----- header styles ----- */

.logo {
    max-width: 124px;
    margin-right: 15px;
}

.header-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    flex-basis: 55%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav__item {
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav__list {
        font-size: 18px
    }

    .nav__item {
        margin-left: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header-content {
        flex-direction: column;
        padding: 20px 0;
    }

    .logo {
        margin:0 0 20px 0;
    }

    .nav__list {
        flex-direction: column;
    }

    .fa-search {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .header-content {
        flex-direction: column;
        padding: 20px 0;
    }

    .logo {
        margin:0 0 20px 0;
    }

    .nav__list {
        flex-direction: column;
    }

    .fa-search {
        margin-top: 20px;
    }
}

/* ----- header styles ----- */


/* ----- title styles ----- */

.title-section {
    background-color: #000000;
    background-image: url("../img/title-section-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.c-title {
    padding: 180px 0 70px 0;
}

.c-title__title {
    font-family: 'OpenSans-SemiBold';
    font-size: 60px;
}

.c-title__slogan {
    margin: 25px 0 100px 0;
    font-size: 22px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.fa-angle-down {
    margin-top: 100px;
    font-size: 25px;
    color: #ffffff;
    transition: 300ms;
}

.fa-angle-down:hover {
    transform: scale(1.5);
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-title {
        padding: 70px 0;
    }

    .c-title__title {
        font-size: 50px;
    }
}

@media (max-width: 575px) {
    .c-title {
        padding: 40px 0;
    }

    .c-title__title {
        font-size: 30px;
    }

    .c-title__slogan {
        margin-bottom: 40px;
        font-size: 19px;
    }

    .buttons {
        flex-direction: column;
    }

    .fa-angle-down {
        margin-top: 50px;
    }
}

/* ----- title styles ----- */


/* ----- about us styles ----- */

.c-about {
    padding: 125px 0;
}

.c-about__cards {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 120px;
}


.c-about__card {    
    width: 23%
}

.c-about__icon {
    max-height: 60px;
}

.c-about__subtitle {
    margin: 40px 0 25px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .c-about__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767px)  {
    .c-about {
        padding: 70px 0;
    }

    .c-about__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .c-about {
        padding: 40px 0;
    }

    .c-about__cards {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .c-about__card {
        width: 100%;
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #bfbfbf;
    }
}

/* ----- about us styles ----- */


/* ----- services styles ----- */

.services {
    background-color: #e4fdf9;
}

.c-services {
    padding: 170px 0 120px 0;
}

.c-services__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.c-services__card {
    width: 31.5%;
    margin-top: 30px;
    background-color: #ffffff;
    transition: 500ms;
}

.c-services__card:hover {
    background-color: #00897b;
    color: #ffffff;
    box-shadow: 0 0px 7px #212121;
}

.fa-mobile-alt {
    margin: 50px 0 30px 0;
    font-size: 50px;
}

.c-services__subtitle {
    margin: 0 0 25px 0;
}

.c-services__desc {
    margin: 0 50px;
}

.c-services__btn {
    min-width: 0px;
    margin: 40px 0 50px 0;
    padding: 15px 20px;
    font-family: 'OpenSans-SemiBold';
    color: #212121;
    border-color: #212121;
}

.c-services__btn:hover {
    border-color: #ffffff;
    color: #ffffff;
}

@media (min-width: 768px) and (max-width: 991px) {
    .c-services__card {
        width: 48%;
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-services {
        padding: 70px 0;
    }

    .c-services__card {
        width: 98%;
        margin: 10px auto;
    }

}

@media (max-width: 575px) {
    .c-services {
        padding: 40px 0;
    }

    .c-services__card {
        width: 98%;
        margin: 10px auto;
    }

    .c-services__desc {
        margin: 0 10px;
    }
}

/* ----- services styles ----- */


/* ----- works styles ----- */

.c-works {
    padding: 120px 0 110px 0;
}

.c-works__buttons {
    margin: 110px 0;
}

.c-works__btn {
    min-width: 179px;
    font-family: 'OpenSans-SemiBold';
    color: #212121;
    border-color: #00897b;
    transition: 500ms;
}

.c-works__btn:hover {
    color: #ffffff;
}

.c-works__btn_short {
    min-width: 0;
    padding: 15px 30px;
}

.c-works__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* --- cards animation --- */

.c-works__img-wrap {
    position: relative;
    max-height: 373px;
    margin-bottom: 25px;
}

.c-works__desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(21, 21, 21, 0.7);
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    cursor: pointer;
}

.c-works__img-wrap:hover .c-works__desc {
    visibility: visible;
    opacity: 1;
}

.c-works__subtitle {
    margin: 0 0 10px 0;
}


/* --- cards animation --- */

.c-works__btn_big {
    margin-top: 100px;
    min-width: 0;
    padding: 20px 60px;
    font-family: 'Roboto-Bold';
}

@media (max-width: 1260px) {
    .c-works__cards {
        justify-content: center;
    }

    .c-works__img-wrap {
        margin: 10px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .c-works__btn_big {
        margin-top: 50px;
    }

    .c-works__img-wrap {
        max-height: 270px;
    }

    .c-works__img {
        max-height: 270px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-works {
        padding: 70px 0;
    }

    .c-works__buttons {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .c-works__img-wrap {
        max-height: 250px;
    }

    .c-works__img {
        max-height: 250px;
    }
}

@media (max-width: 575px) {
    .c-works {
        padding: 40px 0;
    }

    .c-works__buttons {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .c-works__img-wrap {
        max-height: 200px;
    }

    .c-works__img {
        max-height: 200px;
    }

    .c-works__btn_big {
        margin-top: 50px;
    }

}

/* ----- works styles ----- */


/* ----- pricing styles ----- */

.pricing {
    background-color: #f0f1f1;
}

.c-pricing {
    padding: 120px 0;
}

.c-pricing__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.c-pricing__card {
    width: 31.5%;
    background-color: #ffffff;
    transition: 500ms;
}

.c-pricing__card:hover {
    box-shadow: 0 0 7px #212121;
}

.c-pricing__caption-wrap {
    padding: 40px 0 50px 0;
    background-image: url("../img/pricing-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.c-pricing__caption {
    margin: 0;
    font-size: 25px;
}

.c-pricing__price {
    margin: 20px 0 0 0;
    font-size: 50px;
}

.c-pricing__sup {
    font-size: 25px;
}

.c-pricing__sub {
    font-size: 17px;
}

.c-pricing__list {
    margin: 40px;
    padding: 0;
    list-style: none;
    font-family: 'OpenSans-Light';
}

.c-pricing__item {
    max-width: 170px;
    margin: 25px auto 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
}

.c-pricing__btn {
    min-width: 0;
    padding: 15px 35px;
    margin: 30px 0 50px 0;
    font-family: 'OpenSans-SemiBold';
    color: #212121;
    border-color: #212121;
}

.c-pricing__btn:hover {
    color: #ffffff;
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-pricing {
        padding: 70px 0;
    }

    .c-pricing__card {
        width: 98%;
        margin: 10px auto;
    }

}

@media (max-width: 575px) {
    .c-pricing {
        padding: 40px 0;
    }

    .c-pricing__cards {
        margin-top: 50px;
    }

    .c-pricing__card {
        width: 98%;
        margin: 10px auto;
    }

    .c-pricing__item {
        margin-top: 10px;
    }

    .c-pricing__btn {
        margin-top: 0;
    }
}

/* ----- pricing styles ----- */


/* ----- team styles ----- */

.c-team {
    padding: 120px 0;
}

.c-team__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.c-team__card {
    width: 31.5%;
}

.c-team__photo {
    max-width: 100%;
    height: auto;
}

.c-team__subtitle {
    margin: 30px 0 10px 0;
}

.socials {
    margin-top: 30px;
    font-size: 30px;
}

.socials__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f0f1f1;
    color: #00897b;
    border-radius: 10px;
    transition: 500ms;
}

.socials__item:hover {
    background-color: #3949ab;
    color: #ffffff;
}

.dots {
    margin-top: 100px;
}

.fa-circle {
    margin: 0 5px;
    color: #00897b;
    transition: 500ms;
}

.fa-circle:hover {
    color: #3949ab;
}

@media (min-width: 768px) and (max-width: 991px) {
    .socials {
        font-size: 25px;
    }

    .socials__item {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-team {
        padding: 70px 0;
    }

    .c-team__cards {
        flex-direction: column;
    }

    .c-team__card {
        display: flex;
        justify-content: space-evenly;
        width: 98%;
        margin: 10px;
    }

    .c-team__photo {
        margin-right: 10px;
    }

    .socials__item {
        margin-top: 10px;
    }

    .dots {
        display: none;
    }
}

@media (max-width: 575px) {
    .c-team {
        padding: 40px 0;
    }

    .c-team__cards {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .c-team__card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 98%;
        margin: 0 0 10px 0;
        padding-bottom: 10px;
        border-bottom: 2px solid #f0f1f1;
    }

    .socials__item {
        margin-top: 10px;
    }

    .socials {
        font-size: 20px;
    }

    .dots {
        display: none;
    }
}

/* ----- team styles ----- */


/* ----- blog styles ----- */

.blog {
    background-color: #e4fdf9;
}

.c-blog {
    padding: 120px 0;
}

.c-blog__img {
    width: 45%;
}

.c-blog__cards {
    margin-top: 120px;
    text-align: left;
}

.c-blog__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.c-blog__card_v2 {
    flex-direction: row-reverse;
}

.text-col {
    width: 45%;
}

.text-col__title {
    margin: 60px 0 25px 0;
    font-family: 'OpenSans-SemiBold';
    font-size: 25px;
}

.text-col__link {
    transition: 500ms;
}

.text-col__link:hover {
    color: #00897b;
}

.date-row {
    font-family: 'OpenSans-SemiBold';
    font-size: 17px;
}

.date-row__date {
    margin-right: 40px;
}

.fa-calendar-alt,
.fa-file {
    margin-right: 15px;
}

.date-row__desc {
    margin: 25px 0;
    max-width: 445px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .c-blog__cards {
        margin-top: 0;
    }

    .c-blog__card {
        align-items: flex-end;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-blog {
        padding: 70px 0;
    }

    .c-blog__card {
        flex-direction: column;
        align-items: center;
    }

    .c-blog__img {
        margin-top: 30px;
        width: 98%;
    }

    .text-col {
        width: 98%;
        border-bottom: 2px solid#bfbfbf;
    }

    .text-col__title {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .c-blog {
        padding: 40px 0;
    }

    .c-blog__cards {
        margin-top: 50px;
    }

    .c-blog__card {
        flex-direction: column;
        align-items: center;
    }

    .c-blog__img {
        margin-top: 30px;
        width: 98%;
    }

    .text-col {
        width: 98%;
        border-bottom: 2px solid#bfbfbf;
    }

    .text-col__title {
        margin-top: 20px;
    }

    .date-row {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
}

/* ----- blog styles ----- */


/* ----- contacts styles ----- */

.contacts {
    background-color: #212121;
    background-image: url("../img/contacts-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.c-contacts {
    padding: 110px 0;
    color: #ffffff;
}

.c-contacts__contacts-boxes {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.c-contacts__contacts-box {
    height: 180px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.c-contacts__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    font-size: 60px;
    background-color: #3949ab;
    border-radius: 50%;
}

.c-contacts__contact {
    margin-top: 35px;
    font-family: 'OpenSans-SemiBold';
}

/* --- form area --- */

.c-contacts__form {
    box-sizing: border-box;
    width: 70%;
    margin: 70px auto 0;
    text-align: right;
}

.c-contacts__wrap {
    display: flex;
    justify-content: space-between;
}

.c-contacts__name,
.c-contacts__email {
    box-sizing: border-box;
    min-width: 49%;
    height: 50px;
    border: none;
    border-radius: 3px;
}

.c-contacts__name {
    margin-right: 15px;
}


.c-contacts__textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    margin: 30px 0;
    border: none;
    border-radius: 3px;
}

[placeholder] {
    padding-left: 15px;
    font-family: 'OpenSans-SemiBold';
    font-size: 20px;
}


.c-contacts__btn {
    padding: 15px 60px;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    background: #ffffff;
    border: none;
    color: #212121;
    border-radius: 3px;
    cursor: pointer;
    transition: 500ms;
}

.c-contacts__btn:hover {
    background-color: #00897b;
    color: #ffffff;
}

/* --- form area --- */

@media (min-width: 768px) and (max-width: 991px) {
    .c-contacts__form {
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .c-contacts {
        padding: 70px 0;
    }

    .c-contacts__form {
        text-align: center;
    }

    .c-contacts__wrap {
        display: flex;
        flex-direction: column;
    }

    .c-contacts__name,
    .c-contacts__email,
    .c-contacts__textarea {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 575px)  {
    .c-contacts {
        padding: 40px 0;
    }

    .c-contacts__contacts-boxes {
        flex-direction: column;
        margin-top: 40px;
    }

    .c-contacts__contacts-box {
        margin-top: 20px;
    }

    .c-contacts__contact {
        margin-top: 0;
    }

    .c-contacts__form {
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }

    .c-contacts__wrap {
        display: flex;
        flex-direction: column;
    }

    .c-contacts__name,
    .c-contacts__email,
    .c-contacts__textarea {
        width: 100%;
        margin-top: 10px;
    }

    .c-contacts__textarea {
        height: 150px;
    }

    [placeholder] {
        font-size: 15px;
        padding-left: 5px;
    }
}

/* ----- contacts styles ----- */


/* ----- footer styles ----- */

.c-footer {
    padding: 20px;
    font-family: 'Roboto-Bold';
    font-size: 20px;
}

@media (max-width: 575px) {
    .c-footer {
        padding: 10px;
        font-size: 13px;
    }
}

/* ----- footer styles ----- */
