@import url('/css/fonts.css');

/* ----- tag selectors ----- */

body {
    margin: 0;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #212121;
}

/* ----- tag selectors ----- */


/* ----- common styles ----- */

.container {
    max-width: 1170px;
    margin: auto;
}

.side-padding {
    padding: 0 40px;
}

.heading {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: 'OpenSans-Bold';
    font-size: 30px;
}

.desc {
    max-width: 620px;
    margin: 0 auto;
}

.subtitle {
    font-family: 'OpenSans-SemiBold';
    font-size: 20px;
}

.btn {
    margin: 10px;
    padding: 15px 0;
    min-width: 220px;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}


/* ----- common styles ----- */


/* ----- header styles ----- */

.logo {
    max-width: 124px;
    margin-right: 15px;
}

.header-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    flex-basis: 55%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

/* ----- header styles ----- */


/* ----- title styles ----- */

.title-section {
    background-color: #000000;
    background-image: url('/img/title-section-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.c-title {
    padding: 180px 0 70px 0;
}

.c-title__title {
    font-family: 'OpenSans-SemiBold';
    font-size: 60px;
}

.c-title__slogan {
    margin: 25px 0 100px 0;
    font-size: 22px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.fa-angle-down {
    margin-top: 100px;
    font-size: 25px;
    color: #ffffff;
}

/* ----- title styles ----- */


/* ----- about us styles ----- */

.c-about {
    padding: 125px 0;
}

.c-about__cards {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 120px;
}

.c-about__card {    
    width: 23%
}

.c-about__icon {
    max-height: 60px;
}

.c-about__subtitle {
    margin: 40px 0 25px 0;
}

/* ----- about us styles ----- */


/* ----- services styles ----- */

.services {
    background-color: #e4fdf9;
}

.c-services {
    padding: 170px 0 120px 0;
}

.c-services__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.c-services__card {
    width: 31.5%;
    margin-top: 30px;
    background-color: #ffffff;
}

.fa-mobile-alt {
    margin: 50px 0 30px 0;
    font-size: 50px;
}

.c-services__subtitle {
    margin: 0 0 25px 0;
}

.c-services__desc {
    margin: 0 50px;
}

.c-services__btn {
    min-width: 0px;
    margin: 40px 0 50px 0;
    padding: 15px 20px;
    font-family: 'OpenSans-SemiBold';
    color: #212121;
    border-color: #212121;
}

/* ----- services styles ----- */


/* ----- works styles ----- */

.c-works {
    padding: 120px 0 110px 0;
}

.c-works__buttons {
    margin: 110px 0;
}

.c-works__btn {
    min-width: 179px;
    font-family: 'OpenSans-SemiBold';
    color: #212121;
    border-color: #00897b;
}

.c-works__btn_short {
    min-width: 0;
    padding: 15px 30px;
}

.c-works__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* --- cards animation --- */

.c-works__img-wrap {
    position: relative;
    max-height: 373px;
    margin-bottom: 25px;
}

.c-works__img {
    max-width: 100%;
    height: auto;
}

.c-works__desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(21, 21, 21, 0.7);
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
    cursor: pointer;
}

.c-works__img-wrap:hover .c-works__desc {
    visibility: visible;
    opacity: 1;
}

.c-works__subtitle {
    margin: 0 0 10px 0;
}


/* --- cards animation --- */

.c-works__btn_big {
    margin-top: 100px;
    min-width: 0;
    padding: 20px 60px;
    font-family: 'Roboto-Bold';
}

/* ----- works styles ----- */


/* ----- pricing styles ----- */

.pricing {
    background-color: #f0f1f1;
}

.c-pricing {
    padding: 120px 0;
}

.c-pricing__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.c-pricing__card {
    width: 31.5%;
    background-color: #ffffff;
}

.c-pricing__caption-wrap {
    padding: 40px 0 50px 0;
    background-image: url('/img/pricing-bg.png');
    background-repeat: no-repeat;
    color: #ffffff;
}

.c-pricing__caption {
    margin: 0;
    font-size: 25px;
}

.c-pricing__price {
    margin: 20px 0 0 0;
    font-size: 50px;
}

.c-pricing__sup {
    font-size: 25px;
}

.c-pricing__sub {
    font-size: 17px;
}

.c-pricing__list {
    margin: 40px;
    padding: 0;
    list-style: none;
    font-family: 'OpenSans-Light';
}

.c-pricing__item {
    max-width: 170px;
    margin: 25px auto 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
}

.c-pricing__btn {
    min-width: 0;
    padding: 15px 35px;
    margin: 30px 0 50px 0;
    font-family: 'OpenSans-SemiBold';
    color: #212121;
    border-color: #212121;
}

/* ----- pricing styles ----- */
